# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
coverage/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build

# Xcode/Flutter iOS build artifacts
ios/build/
ios/**/build/
ios/**/DerivedData/

# Environmental variables
.env
.env.development
.env.production

# Hide GoogleService-info.plist and google-service.json because of anoying of GitGurdian, just in case. ref: https://qiita.com/hoshymo/items/e9c14ed157200b36eaa5
/ios/Runner/GoogleService-info.plist
/macos/Runner/GoogleService-info.plist
/android/app/google-services.json



sentry.properties
